.active {
    background-color: cornflowerblue;
    outline: 2px solid #64ed77;
    scale: 1;
}

button:focus {
    outline: 4px solid #64ed77;
    margin-inline: 5px;
    scale: 1;
}

button:hover {
    scale: 0.9;
}


button {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    margin-bottom: 10px;
    background-color: transparent;
    scale: 0.8;
    margin-inline: 3px;
}

h1 {
    color: #64ed77;
    text-align: center;
    padding-block: 2rem;
}